<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/dashboard_style.css">
    <title>dashboard</title>
</head>
<body>
    
    <header>

        <div class="marca">
            <a href="#">
                Marca/Logo
            </a>
        </div>    

        <nav>
            <a href="registro.html" target="">Registro</a>
            <a href="">sexo 1</a>
            <a href="index.html" target="">Home</a>
            <a href="">sexo 2</a>
            <a href="">sexo 3</a>
        </nav>

    </header>
    <img src="" alt="">
</body>
</html>